* {
    background-color: greenyellow;
    background-image: url("https://th.bing.com/th/id/OIP.ZEx-Fz94YaBSmLJFwGoIkwHaEK?w=307&h=180&c=7&r=0&o=5&pid=1.7");
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    25%{
        transform: translateX(30px);
    }
    50%{
        transform: translateX(50px);
    }
    75%{
        transform: translateX(100px);
        color: purple;
    }
    100%{
        transform: translateX(150px);
        color: red;
    }
    
}

#base-h1{
    text-align: center;
    color:orange;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
   }
   
#home-big-container{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    color: pink;
    background-color: gold;
}
.ref{
    color: pink;
}
.new{
    background-color: aqua;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
}
.new2{
    border: 5px solid black;
    height: 50px;
    width: 50px;
    background-color: blue;
}

.post-details-page{
    border: 5px solid red;
    width: 300px;
    margin-left:50px;

}

.post-title{
    text-align: center;
    font:bold;
    margin-top: 0;
    
}

.kristi-is-watching{
    color: pink;
    background-color: purple;
}
