*{background-color: lightblue;}

#homeLink{
   
}

#special{
    background-color: orange;
}
button {
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 5%;
}
button:hover{
    background-color: #3399FF;
}