{% load tailwind_tags%}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/link.css' %}">
    <title>LinkO {%block title%}{%endblock%}</title>
</head>


<body class="text-black-400 ml-10 mr-10">
    <h1 id="base-h1">Linked OUT!!</h1>
    <p class="text-green-500 flex justify-center m-5 text-lg">A site serving those who paid their dues, And now it's time to PLAY!</p>
 
    <nav class="relative 
                w-full 
                flex flex-wrap 
                items-center 
                justify-between 
                py-4 shadow-lg 
                navbar navbar-expand-lg 
                navbar-light container 
                mx-auto">
        <div class='flex underline text-blue-600 hover:text-blue-800 visted:text-purple-600 ml-5'>
            <a href="/">Home</a>
            <a href="/profile" class="ml-5">Profile page</a>
            <a href="/portraits/new" class="ml-5">New Profile</a>
            <a href="/posts" class="ml-5">User Posts</a>
            <a href="/comments" class="ml-5">Comments</a>
            <a href="/posts/new" class="ml-5">New Post</a>
            <a href="/comments/new" class="ml-5">New Comment</a>
        </div>
        
        <div class="flex justify-end mr-10">
            {% if user.is_authenticated %} Welcome, {{user.username}} 
                <a href="{%url 'logout'%}" class="text-primary ml-4">Logout</a>
            {%else%}
                <a href="{% url 'login'%}" class="text-primary ml-2">Login</a>
                <a class='ml-10' href="{%url 'signup'%}" class="text-primary ml-2">Signup</a>
            {%endif%}
        </div>
    </nav>

    <div class="w-40 shadow-lg px-5 rounded-r-3xl inline-flex">
        <div class='mt-10 '>
            <ul class='flex flex-col '>
                <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="https://www.yahoo.com" target="_blank">yahoo</a></li>
                <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="https://www.aarp.org" target="_blank">AARP</a></li>
                <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="https://www.nps.gov" target="_blank">National Parks</a></li>
                <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="https://www.google.com" target="_blank">google</a></li>
                <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-500 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="" target="_blank">Games</a></li>
            </ul>
        </div>
    </div>





    {%block content %}{%endblock%}
    
</body>
</html>

<!-- <div class="grid grid-cols-2 gap-y-4 gap-x-8">
    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> Home </a>

    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> User Posts </a>

    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> Comments </a>

    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> New Post </a>

    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> New Comment </a>

</div> -->