{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/link.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/link.css' %}">
    <title>LinkO {%block title%}{%endblock%}</title>
</head>
<body>
    <h1 id="base-h1">Linked OUT!!</h1>
    <p>A site serving those who paid their dues, And now it's time to PLAY!</p>
 
    <nav>
        <a href="/posts">User Posts</a>
        <a href="/comments">Comments</a>
        <a href="/posts/new">New Post</a>
        <a href="/comments/new">New Comment</a>
        <a href="/">Home</a>
            <div class="">
                {% if user.is_authenticated %} Welcome, {{user.username}} 
                {%else%}
                <a href="{% url 'login'%}">Login</a>
                <a href="{%url 'signup'%}">Signup</a>
                {%endif%}
            </div>
    </nav>
    {%block content %}{%endblock%}
    
</body>
</html>