{% extends 'linkoapp/base.html'%}
{%block title%}****Bucket List!****{%endblock%}
{%block content%}

<!-- <div >
     <div  > -->
<div class="flex text-center inline-flex ml-40">
  <div>
    <p >Bucket List</p>
    <a href="/buckets/new" class="underline text-blue-600 hover:text-blue-800 visted:text-purple-600">New List Item</a>
    
      <ul  >
        {%for bucket in buckets%}

          <!-- {% if bucket.complete%}
         <li class="max-w-sm rounded overflow-hidden shadow-xl text-center ml-30 mt-5">
            <p>Date of Item: {{bucket.created_date}}</p>
            <p>Title: {{bucket.title}}</p>
            <p class="inline">Completed: {{bucket.complete}}</p>
          </li>
          {%else%} -->
          <a class='flex underline text-blue-600 hover:text-blue-800 visted:text-purple-600 text-center' 
          href="{%url 'bucket_detail' pk=bucket.pk %}">Click here to edit</a>
          <li class="max-w-sm rounded overflow-hidden shadow-xl text-center ml-30 mt-5">
              <p>Date of Item: {{bucket.created_date}}</p>
              <p>Title: {{bucket.title}}</p>
              <p>Completed: {{bucket.complete}}</p>
          </li>   
        </li>
          <!-- {%endif%} -->
        {%endfor%}
        </ul>
    </div>
  </div>

{%endblock%}