{% extends 'linkoapp/base.html'%}
{%block content%}

<div class="flex text-center inline-flex ml-40">
        <div class="max-w-sm rounded overflow-hidden shadow-xl">
            <p>Comment details:</p>

            <p>Date of comment: {{comment.created_date}}</p>
            <p>Comment by: {{comment.author}}</p>
            <p>What they had to say: {{comment.content}}</p>
            <div class="flex justify-center">
            <a class="underline text-blue-600 hover:text-blue-800 visted:text-purple-600" href="{% url 'comment_edit' pk=comment.pk %}"><i class="fa fa-edit fa-2x"></i></a>
            <a class="underline text-blue-600 hover:text-blue-800 visted:text-purple-600 ml-20" href="{% url 'comment_delete' pk=comment.pk %}"><i class="fa fa-trash fa-2x"></i></a>
          </div>

    </div>
</div>


{%endblock%}