{%extends 'linkoapp/base.html'%}
{%load static%}
{%block content%} 

<h1>this is the home page</h1>

<div id="home-big-container">
    <div>
        <a class="ref" href="https://www.aarp.org" target="_blank">AARP</a>
        <a class="ref" href="https://www.nps.com" target="_blank">National Parks</a>
        <a class="ref" href="https://www.google.com" target="_blank">google</a>
        <a class="ref" href="https://www.yahoo.com" target="_blank">yahoo</a>
    </div>
</div>
<div class="new">box 1
    <div class="new2">box2</div>

</div>
{%endblock%}