{%extends 'linkoapp/base.html'%}
{%load static%}
{%block content%} 

<h1>this is the home page</h1>

<div class='border-2 w-20 md:w-auto text-center'>
    <div class="flex-col ">
        <a class=" " href="https://www.aarp.org" target="_blank">AARP</a>
        <a class="" href="https://www.nps.gov" target="_blank">National Parks</a>
        <a class="" href="https://www.google.com" target="_blank">google</a>
        <a class="" href="https://www.yahoo.com" target="_blank">yahoo</a>
        <a class="" href="" target="_blank">Games</a>
    </div>
</div>
<div class="border-2 w-20 text-center">Bucket List
    <div class="new2">box2</div>

</div>
{%endblock%}