{%extends 'linkoapp/base.html'%}
{%load static%}
{%block content%} 

<div class="w-40 shadow-lg px-5 rounded-r-3xl">
    <div class='mt-10 '>
        <ul class='flex flex-col '>
            <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="https://www.yahoo.com" target="_blank">yahoo</a></li>
            <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="https://www.aarp.org" target="_blank">AARP</a></li>
            <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="https://www.nps.gov" target="_blank">National Parks</a></li>
            <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="https://www.google.com" target="_blank">google</a></li>
            <li class='relative'><a class="flex items-center text-lg py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-red-500 hover:bg-gray-100 transition duration-500 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark" href="" target="_blank">Games</a></li>
        </ul>
    </div>
</div>




<div class="flex flex-col rounded-r-3xl w-40 shadow-lg px-5 py-5 mt-10">Bucket List
    <div class="new2">box2</div>

</div>

{%endblock%}


<!-- w-20 md:w-auto text-center -->