{% extends 'linkoapp/base.html'%}
{%block content%}

<h2>New Profile</h2>
<form method="POST">
    {%csrf_token%} 
    <!-- {{form.as_p}} -->
    <h1>First Name:{{form.first_name}}</h1>
    <h1>Last Name:{{form.last_name}}</h1>
    <h1>Location: {{form.location}}</h1>
    <h2 class="text-purple-500">Email:{{form.email}}</h2>
    <h3>Work History: {{form.previous_companies}}</h3>
    <h3>Photo: {{form.photo_url}}</h3>
    
   <button class='text-white bg-blue-600 hover:bg-blue-700 font-bold py-6 px-4 rounded' type="submit">Save</button>

</form>

{%endblock%}