{% extends 'linkoapp/base.html'%}
{%block content%}

<div class="w-fit ml-32 flex inline-flex shadow-xl mb-20">
    <div>
        <p>Edit this profile: {{portrait.first_name}} {{portarit.last_name}}</p>
        <div class=" w-full md:w-1/2 px-3">
            <form class="w-full max-w-lg" method="POST">
                {%csrf_token%} 
                {{form.as_p}}
                <button class='text-white bg-blue-600 hover:bg-blue-700 font-bold py-2 px-6 rounded mt-5' type="submit">Save</button>

            </form>
        </div>
    </div>
</div>
{%endblock%}

class="rounded shadow-xl text-center ml-30 mt-5"