{% extends 'linkoapp/base.html'%}
{%block content%}

<h3>Post-Details:</h3>
<a href="{% url 'post_edit' pk=post.pk%}"><h4>Edit this Post</h4></a>

<a href="{% url 'post_delete' pk=post.pk%}"><h4>Delete this Post</h4></a>

<div class="post-details-page">
    <h3 class="post-title">{{post.title}}</h3>
    <p>Date of Post: {{post.post_date}}</p>
    <p>username: {{post.username}}</p>

    <p>Name of Poster: {{post.name_of_user}}</p>
    <p>Content of Post: {{post.post_content}}</p>



    <h3>Comments: <a href="{%url 'comment_list'%}">Add to comment (+)</a></h3>

    <ul>
        {% for comment in post.comments.all %}
        <li>
            <a href="{%url 'comment_detail' pk=comment.pk%}">{{comment.author}}</a>
        </li>
        {%endfor%}
        <h2>end for is here</h2>
    </ul>
</div>
{%endblock%}
